
h1{
	font-family: "Times New Roman", Georgia, serif;
	font-size: 200%;
	color: black;
	text-align: center;
}


body{
	background-color: brown;
	font-family: "Times New Roman", Georgia, serif;
	font-size: 100%;
	color:black;
	text-align: center;
}


br{
	padding-bottom: 30px;
	line-height: 30px;

}

form{
	padding-bottom: 30px;
	line-height: 30px;

}
