*{
	
}

body {
    background-color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

h1 {
    color: black;
	font-size: 500%;

    margin-left: 40px;
}
h2 {
    color: white;
	font-size: 400%;
	font-weight: 900;
    margin-left: 40px;
}


h3{
	color: black;
	font-size:300%;
}


p {
    color: black;
	 font-size: 300%;
	font-weight: 600;
    margin-left: 60px;

}
.jumbotron {
  background-image:url("final2.JPG");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  position: relative;
  top:10px;
width: 100%;

}
.home{
	height: 500px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



form{
	background-color: #D3D3D3;
	width:500px;
	height:500px;
	position: fixed;
	left:35%;
	margin-top: 5%;
	border-radius: 10px;
}
