.jumbotron{
	background-image:url(indian_house.jpg);
	color:white;
	margin-top:0px;
	background-attachment:fixed;
	background-size: 100% 100%;
	min-height:700px;
	min-width:100%;	
}

.text-center{
	padding-top: 130px;
}

